<%- include('./layout/Header') %>
    <%- include('./layout/Navbar') %>
        <div class="showcase">
            <h1>About <span class="green-text">Express</span> Diary</h1>
            <p>A Simple Application made with Express JS.</p>
            <p>Version 1.0</p>
        </div>

        <%- include('./layout/Footer') %>