<header>
    <div class="container">
        <a class="logo" href="/">EXPRESS <span class="green-text">DIARY</span></a>

        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/diary">Go To Diary</a></li>
            </ul>
        </nav>
    </div>
</header>